p {background-color:gray ; margin-right: 10%;}



.secondParagraph{background-color: blue;text-align: center;}


.quote{background-color: pink;padding-top: 10px;padding-bottom: 10px;}

#Jibberish{

    width: 500px;  height: 10px;padding: 10px;border:blue dashed 3px;text-align: center;
